{% extends 'item/base.html' %}

{% block title %}
О нас!
{% endblock %}

{% block content %}
<p>
    <h1>О нашем сайте! RU</h1>
    <h2>Наш сайт это как жалобная книга для пользователей нашего замечательного бота!!
        Кроме этого вы можете просто оставить свои впечатления от нашего бота.
    </h2>
</p>

<p>
    <h1>About our WEBSITE EN</h1>
    <h2>Our site is a book of complaints for users of our wonderful bot!!
        In addition, you can simply leave your impressions of our bot.
    </h2>
<p/>
{% endblock %}