{% extends 'item/base.html' %}

{% block title %}
{{ title }}
Главная страница
{% endblock %}

{% block content %}
    <h1>Товары</h1>

    <img src="./item/templates/item/photos/photo_2023-10-07_01-07-21.jpg" alt="">

    <h3>https://t.me/CounterStrikeCases_bot</h3>



    <h1>Все отзывы</h1>
    {% if tasks %}
        {% for el in tasks %}
            <div class="alert alert-warning mt-2">
                <h3>{{ el.title }}</h3>
                <p>{{ el.task }}</p>
            </div>
        {% endfor %}
    {% else %}
        <p>Жалоб и предложений пока нет</p>
    {% endif %}
{% endblock %}